@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v11/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v11/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body {
	background-color: #ececec;
	width: auto;
}

.img-center {margin:0 auto;}

.lighter-overlay {
	padding:30px 30px 0;
	background-color: #fff;
}
.main-content {
	padding: 30px;
	background-color: #ececec;
}

.main-content #focusAreaSection {
	padding: 30px;
	background-color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}


.main-header {
	margin-bottom: .25rem;
        padding: 0 1.5em 1em;
		line-height: 1em;
}
.main-header * {
	font-family: "alternate-gothic-no-3-d", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.main-header h2 {
    font-size: 22px;
	line-height: 22px;
	font-weight: 600;
    margin: 4px 0 0 2px;
	color: #808285;
}
.main-header h1 {
	color: rgb(1, 113, 208);
	font-size: 52px;
	line-height: 52px;
	font-family: Open Sans;
}
.blue-fixed-btn {
    min-width: 180px;
    max-width: 180px;
	color: #fff;
	margin-bottom: 0px;
}

.inline-checkbox ,.inline-radiogroup  {
	margin: 0 0 1em 0;
}

.inline-checkbox  div {
	margin-top: -5px;
	float: left;
	width: 280px;
}
.inline-checkbox div  label ,.inline-radiogroup div  label{
	color: rgba(255, 255, 255, 0.77);
}
.inline-radiogroup label:hover {
    background-color: #00ABEC;
}

.blue-fixed-btn,.navitem,button.redon,.panel {
    background-color: #00ABEC;
	border-radius: 5px;
}

button.blue-fixed-btn:active,.button.blue-fixed-btn:active,input.blue-fixed-btn:active,button.blue-fixed-btn:focus,.button.blue-fixed-btn:focus,input.blue-fixed-btn:focus,input.blue-fixed-btn:hover,#navbar li ul li:hover {
    background-color: #0171d0;
	border-radius: 5px;
	color: #fff;
}
button.blue-fixed-btn:hover,.button.blue-fixed-btn:hover {
	background: #FE7E17;
	color: #fff;
}

.captcha input {
	width: 150px;
}
.captcha  > * {
	float: left;
	margin-right: 16px;
}
.captcha  div > *{
	float:top;
}

.form {
	margin-bottom: 1em;
}

.inline-form-group  > input {
	margin-right: 1em;
}

.button-group {
	text-align: center;
}
.button-group a{
	margin-left: 2em;
	margin-top: 2em;
}