*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body{font-family:Open Sans, Helvetica, Arial, sans-serif;font-size:15px;line-height:24px;background:#fff;margin:0;padding:0;color:#686868;font-weight:300;overflow-x:hidden;}
a{text-decoration:none;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
a:focus,
a:link,
a:active{outline:none;}
a:hover{color:#444;}
.percent-one-fourth{width:22%;}
.percent-three-fourth{width:74%;}
.percent-three-fourth,
.percent-one-fourth{position:relative;margin-right:4%;float:left;margin-bottom:20px;}
.column-last{margin-right:0!important;clear:right;}
.mainImg img { height:100vh;width:100vw;}
#header{position:fixed;z-index:4000;display:block;width:100%;top:0;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
#header .percent-one-fourth,
#header .percent-three-fourth{margin-bottom:0;}
.solid-header{background:#fff;}
#header.scrolled-header .logo img{margin-top:0;}
.nav-btn{font-size:28px;right:15px;position:absolute;cursor:pointer;color:#323232;top:3px;width:1px\9;height:1px\9;overflow:hidden\9;position:absolute\9;}
.logo{position:relative;}
.logo img{display:inline-block;vertical-align:bottom;}
#navigation{float:right;position:relative;z-index:10000;}
#navigation.desktop{display:block !important;}
ul#mainnav{float:right;position:relative;display:block;z-index:1001;padding-top:10px;margin-right:-10px;}
ul#mainnav li{display:inline-block;float:left;position:relative;z-index:1000;}
ul#mainnav > li{background:url(../images/nav-bg.png) no-repeat scroll right center;}
ul#mainnav > li:last-child{background:none;}
ul#mainnav li a{font:14px/20px 'Open Sans', Open Sans, Helvetica, Arial, sans-serif;position:relative;font-weight:700;color:#404040;margin:0 10px;padding:0 15px 0;height:25px;line-height:25px;display:inline-block;*display:block;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;z-index:100;}
ul#mainnav > li > a:hover > span{padding-bottom:2px;}
ul#mainnav > li.current-menu-item > a span{padding-bottom:2px;}
ul#mainnav li a:hover,
ul#mainnav li a:active{color:#323232;}
.centered-wrapper{width:1120px;margin:0 auto;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
header,
nav{display:block;}
a{background:0 0;}
a:active,
a:hover{outline:0;}
img{border:0;}
button::-moz-focus-inner,
input::-moz-focus-inner{padding:0;border:0;}
@media print{*{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,
a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
a{color:#428bca;text-decoration:none;}
a:hover,
a:focus{color:#2a6496;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
ul{margin-top:0;margin-bottom:10px;}
.form-control::-moz-placeholder{color:#777;opacity:1;}
.form-control:-ms-input-placeholder{color:#777;}
@-ms-viewport{width:device-width;}
fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-bars:before{content:"\f0c9";}
.menu-item a:hover{text-decoration:none !important;}
.menu-item a{text-decoration:none !important;}
a{outline:none !important;text-decoration:none !important;}
ul#mainnav > li{background:url('../images/nav-bg.png') no-repeat scroll right center transparent;}
.menu-item > a:hover > span{padding-bottom:2px;border-bottom:1px solid black;}
html body{background:#efefef;}
#header{background:#ffffff;}
body{background:#efefef;}
html body{font-family:Open Sans;font-weight:400;font-style:normal;font-size:15px;line-height:24px;color:#686868;}
html ul#mainnav li a{font-family:Open Sans;font-weight:700;font-style:normal;font-size:14px;line-height:25px;color:#404040;}
.show-original-logo .white-logo{display:none;}
a{color:#FE7E17;}
.nav-btn:hover{color:#FE7E17;}