*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body{font-family:Open Sans, Helvetica, Arial, sans-serif;font-size:15px;line-height:24px;background:#fff;margin:0;padding:0;color:#686868;font-weight:300;overflow-x:hidden;}
a{text-decoration:none;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
a:focus,
a:link,
a:active{outline:none;}
a:hover{color:#444;}
.percent-one-fourth{width:22%;}
.percent-three-fourth{width:74%;}
.percent-three-fourth,
.percent-one-fourth{position:relative;margin-right:4%;float:left;margin-bottom:20px;}
.column-last{margin-right:0!important;clear:right;}
.mainImg img { height:100vh;width:100vw;}
#header{position:fixed;z-index:4000;display:block;width:100%;top:0;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
#header .percent-one-fourth,
#header .percent-three-fourth{margin-bottom:0;}
.solid-header{background:#fff;}
#header.scrolled-header .logo img{margin-top:0;}
.nav-btn{font-size:28px;right:15px;position:absolute;cursor:pointer;color:#323232;top:3px;width:1px\9;height:1px\9;overflow:hidden\9;position:absolute\9;}
.logo{position:relative;}
.logo img{display:inline-block;vertical-align:bottom;}
#navigation{float:right;position:relative;z-index:10000;}
#navigation.desktop{display:block !important;}
ul#mainnav{float:right;position:relative;display:block;z-index:1001;padding-top:10px;margin-right:-10px;}
ul#mainnav li{display:inline-block;float:left;position:relative;z-index:1000;}
ul#mainnav > li{background:url(/images/nav-bg.png) no-repeat scroll right center;}
ul#mainnav > li:last-child{background:none;}
ul#mainnav li a{font:14px/20px 'Open Sans', Open Sans, Helvetica, Arial, sans-serif;position:relative;font-weight:700;color:#404040;margin:0 10px;padding:0 15px 0;height:25px;line-height:25px;display:inline-block;*display:block;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;z-index:100;}
ul#mainnav > li > a:hover > span{padding-bottom:2px;}
ul#mainnav > li.current-menu-item > a span{padding-bottom:2px;}
ul#mainnav li a:hover,
ul#mainnav li a:active{color:#323232;}
.centered-wrapper{width:1120px;margin:0 auto;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
header,
nav{display:block;}
a{background:0 0;}
a:active,
a:hover{outline:0;}
img{border:0;}
button::-moz-focus-inner,
input::-moz-focus-inner{padding:0;border:0;}
@media print{*{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,
a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
a{color:#428bca;text-decoration:none;}
a:hover,
a:focus{color:#2a6496;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
ul{margin-top:0;margin-bottom:10px;}
.form-control::-moz-placeholder{color:#777;opacity:1;}
.form-control:-ms-input-placeholder{color:#777;}
@-ms-viewport{width:device-width;}
fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.menu-item a:hover{text-decoration:none !important;}
.menu-item a{text-decoration:none !important;}
a{outline:none !important;text-decoration:none !important;}
ul#mainnav > li{background:url('/images/nav-bg.png') no-repeat scroll right center transparent;}
.menu-item > a:hover > span{padding-bottom:2px;border-bottom:1px solid black;}
html body{background:#efefef;}
#header{background:#ffffff;}
body{background:#efefef;}
html body{font-family:Open Sans;font-weight:400;font-style:normal;font-size:15px;line-height:24px;color:#686868;}
html ul#mainnav li a{font-family:Open Sans;font-weight:700;font-style:normal;font-size:14px;line-height:25px;color:#404040;}
.show-original-logo .white-logo{display:none;}
a{color:#FE7E17;}
.nav-btn:hover{color:#FE7E17;}
.visiontext{position:absolute;background:none repeat scroll 0% 0% transparent;z-index:2 !important;
padding:10px 30px;letter-spacing:0px;font-size:4.8vw;font-weight:bold;color:white;white-space:nowrap;line-height:1.13;
top:50vh;left:50vw;opacity:1;transform:translate(-50%, 0%);text-transform:uppercase;
}
.watch-intro{position:absolute;background:none repeat scroll 0% 0% transparent;z-index:2 !important; 
top:80vh;left:50vw;opacity:1;transform:translate(-50%, 0%);text-transform:uppercase;
}
.watch-intro > * {text-align:center;font-weight:bold}
#vision{padding:10px 10px 10px 10px;border:1px solid white;}
.btn-xl {
	padding: 15px 25px;
	font-size: 20px;
	line-height: 1.33;
}
@media only screen 
and (max-width : 768px) {
	.btn-xl {
	padding: 10px 15px;
	font-size: 12px;
	line-height: 1.33;
}
}

.btn-orange { 
	color:#fff;
	background:orange;
	text-transform: uppercase;
}
.btn-orange:active,.btn-orange:focus,.btn-orange:hover{background:#FE7E17;border-color: #adadad;}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.social-popup {
 
 background-color: rgba(0,0,0,0.7);
 background-image: url(./images/business03.jpg);
}
.popup-container {
	background-color: rgba(0,0,0, 0.70);
}
.popup-container h4 {
	font-family: Open Sans, arial!important;
	font-size: 28px!important;
	text-align: center;
	color:white!important;
}
.modal-header {
	border-bottom: 0 !important;
}
.modal-header:after {
	display: block;
	content: "";
	height: 1.2px;
	width: 320px;
	margin: 15px auto 20px;
	position: relative;
	border-bottom: 5px solid #0597F2!important;
}
.modal-body {
	border-bottom: 5px solid #0597F2!important;
}
.model-body p{
font-family: arial, arial;
font-size: 14px;
font-weight: 400;
color:white;
}
.modal-footer {
border-top-style: none!important;
text-align: center!important;
}
.social-popup .modal-body span {
	text-align:center; margin:20px; font-family: Open Sans, arial;font-size: 14px;font-weight: 400;color:white;
}
.social-popup .modal-header .close  {
	background-color: rgba(5,151,242,0.9);opacity: 100;color: white;width: 32px;height: 32px;font-size: 26px;font-weight: 400;top: 0;position: absolute;right: 0;
}
.fb_like_share iframe {
	height: 20px !important;
	width: 100px !important;
	margin: 40px 0 10px !important;
}