
.main-header {
    
	margin-bottom: .25rem;
        padding: 0 1.5em 1em;
		line-height: 1em;
}
.main-header * {
	font-family: "alternate-gothic-no-3-d", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.main-header h2 {
    font-size: 1.5em;
    margin: 4px 0 0 2px;
	color: #808285;
}
.main-header h1 {
	color: rgb(1, 113, 208);
	font-size: 4.2em;
}
.blue-fixed-btn {
    min-width: 180px;
    max-width: 180px;
	color: #fff;
	margin-bottom: 0px;
}

.inline-checkbox ,.inline-radiogroup  {
	margin: 0 0 1em 0;
}

.inline-checkbox  div {
	margin-top: -5px;
	float: left;
	width: 280px;
}
.inline-checkbox div  label ,.inline-radiogroup div  label{
	color: rgba(255, 255, 255, 0.77);
}
.inline-radiogroup label:hover {
    background-color: #00AFF3;
}

.blue-fixed-btn,.navitem,button.redon,.panel {
    background-color: #00aff3;
	border-radius: 5px;
}

button.blue-fixed-btn:active,.button.blue-fixed-btn:active,input.blue-fixed-btn:active,button.blue-fixed-btn:focus,.button.blue-fixed-btn:focus,input.blue-fixed-btn:focus,button.blue-fixed-btn:hover,.button.blue-fixed-btn:hover,input.blue-fixed-btn:hover,#navbar li ul li:hover {
    background-color: #0171d0;
	border-radius: 5px;
	color: #fff;
}
.captcha input {
	width: 150px;
}
.captcha  > * {
	float: left;
	margin-right: 16px;
}
.captcha  div > *{
	float:top;
}

.form {
	margin-bottom: 1em;
}

.inline-form-group  > input {
	margin-right: 1em;
}

/*
.btn-blue {
  background-color: #00AFF3;
  border-color: #00AFF3;
  color: #fff;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
  background-color: #009dda;
  border-color: #008ac0;
  color: #fff;
}
.btn-blue.disabled:hover,
.btn-blue.disabled:focus,
.btn-blue.disabled:active,
.btn-blue.disabled.active,
.btn-blue[disabled]:hover,
.btn-blue[disabled]:focus,
.btn-blue[disabled]:active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue:hover,
fieldset[disabled] .btn-blue:focus,
fieldset[disabled] .btn-blue:active,
fieldset[disabled] .btn-blue.active {
  background-color: #00AFF3;
  border-color: #00AFF3;
  color: #fff;
}
*/

.button-group {
	text-align: center;
	margin-top: 2em;
}
.button-group > a{
	margin-left: 2em;
}